@font-face{
    font-family: "Midashi";
    src:url("Font/Halogen/Halogen/HalogenbyPixelSurplus-Regular.otf");
}
@font-face{
    font-family:'MyFont';
    src:url("Font/misaki_ttf_2019-10-19/misaki_gothic_2nd.ttf");
}
.topwrapper{
    width:100%;
    height:100%;
    position: relative;
    z-index: 0;

}
.effect{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 1;
    width:100%;
    height:100%;
}

.mainvideo{
    position: absolute;
    z-index: -100;
    width:100%;
    height:100%;
    
}
.rightbar{
    position: absolute;
    z-index: -90;
    background-color:rgb(36, 16, 150);
    right:0;
    height:100%;
    width:18.2%;
}
.leftbar{
    position: absolute;
    z-index: -90;
    background-color:rgb(36, 16, 150);
    left:0;
    height:100%;
    width:18.2%;

}

.menuber {
    width:15%;
    height:100%;
    padding-left: 150px;
    background-color:black;
    opacity: 0.3;
    z-index: 2;
    position: relative;
    font-family:Midashi;
}

.contswrapper{
    display:inline-block;
    position: absolute;
    top:20%;
    right:20%;
}

.conts{
    margin-top:10px;
    display:block;
    color:white;
    opacity:1;
    font-size: 50px;
}
.conts:hover{
    background-color: white;
    color:black;
    transition: 0.5s;
}
.textWrapper{
    display:inline-block;
    position:absolute;
    top:50%;
    left:48%;
    z-index:3;
    background-color: rgba(0, 0, 0, 0.226);
}
.mainText1,.mainText2,.mainText3{
    display:block;
    font-family:Midashi;
    font-size: 30px;
    color:rgba(207, 204, 223, 0.61);
}

.charawrap:not(a) {
    position: absolute;
    z-index: 5;
    bottom:0;
    right:30;
    padding-left:20%;
    text-align: center;
}
.ukagaka{

}
.fukidashi{
    background-color: white;
    position: absolute;
    z-index: 6;
    display: inline-block;
    right:50%;
    border-radius: 10px;

}
.fukidashi:after{
    content:"";
    position: absolute;
    bottom:10;
    padding-left:5px;
    display: inline-block;
    border-left:solid 60px white;
    border-top:solid 10px transparent;
}
.fukidashi a{
    display: inline-block;
    font-family: MyFont;
    padding:12px
}
