@font-face{
    font-family: "Midashi";
    src:url("../Font/Halogen/Halogen/HalogenbyPixelSurplus-Regular.otf");
}
@font-face{
    font-family:'MyFont';
    src:url("../Font/misaki_ttf_2019-10-19/misaki_gothic_2nd.ttf");
}
.top{
    background-color: rgba(42, 12, 175, 0.795);
    position:relative;
    width:100%;
    height: 100%;
    z-index:0;
}
.backImg{
    width:100%;
    height: 100%;
    background-image: url(../Character/Image/backimg/sfbackimg.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    position:fixed;
    z-index:1;
}
.topbar{
    position: absolute;
    position:fixed;
    z-index: 10;
    width:100%;
    height:10%;
    right:0;
    left:0;
    top:0;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.486);
    color:white;
}
.barwrapper{
    margin-left:40;
}
.barcont{
    float:left;
    padding:0 20 0 20;
    font-size:30px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.barcont a{
    font-family: Midashi;
}
.barcont:hover{
    background-color:rgba(255, 255, 255, 0.699);
    transition: 0.5s;
}
.base{
    position:absolute;
    width:80%;
    height:3250px;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 2;
    right:0;
    left:0;
    top:0;
    margin:auto;
}
.underbar{
    position: absolute;
    position:fixed;
    width:100%;
    height:10%;
    z-index: 10;
    bottom:0;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.486);
}
.texPosit{
    position: relative;
}
.texPosit a{
    position: absolute;
    right:16;
    bottom:-70;
    color:white;
}
.vid{
    position: absolute;
    z-index: 3;
    width:90%;
    height:100%;
    right:0;
    left:0;
    top:0;
    margin:auto;    
    text-align: center;
}
.table11,.table21,.table31,.table41,.table51{
    padding:1 20 10 20;
    margin:150 70 0 70;
    background-color: rgb(51, 51, 51);
}
.ukagaka{
    position: absolute;
    position:fixed;
    z-index:5;
    bottom:0;
    left:20;
}